build/
third-party/
test/build/
test/WSTuiTest
.qt/
.vscode/
.devtool/
.cache/
CMakeFiles/
CMakeCache.txt
WordTsar_autogen/
WSTest_autogen/
VisualTest_autogen/
ws_autogen/
WSTuiTest_autogen/
doxygen/
DEV_DOCUMENTS/
.DS_Store
Roadmap-draft-Plan.md