build/
third-party/
test/build/
test/WSTuiTest
.qt/
.vscode/
.devtool/
.cache/
CMakeFiles/
CMakeCache.txt
WordTsar_autogen/
WSTest_autogen/
VisualTest_autogen/
doxygen/
DEV_DOCUMENTS/
.DS_Store
roadmap-draft.md